.aboutAuthor {
  padding-top: 30px;

  &__title {
    text-transform: uppercase;
    font-family: $josephFont;
    font-size: 20px;
    letter-spacing: 1.1px;
    margin-bottom: 16px;
  }

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__text {
    padding-right: 10px;
  }
}