*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F5F5F5;
  color: $mainColor;
  font-size: 16px;
  font-family: $mulishFont;
  line-height: 20.08px;
  letter-spacing: 1.5px;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

